<!DOCTYPE html>
<html>
<head>
<title>Atklite</title>
<link rel="stylesheet" type="text/css" media="handheld, screen"
  href="{{ url_for('static', filename='base.css') }}">
<link rel="shortcut icon"
  href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div class="header">
    <div class="wrapper">
    <h1><a href="{{ url_for('index') }}">Atklite</a></h1><h2>Download anime torrents!</h2>
    </div>
</div>
<div id="main">
<div class="content">
<div class="content-header">{% block heading %}{% endblock %}</div>
{% block main %}
{% endblock %}
</div>
</div>
</div>
</body>
</html>